/* Define CSS Variables */
:root {
    --primary-color: black;
    --secondary-color: magenta;
    --margin: 18px;
    --border-color: black;
    --border-width: 1px;
    --primary-font: "Cardo", serif;
}

html *{
	box-sizing: border-box;
}

body {
	margin: 0px;
}

header {
	position: absolute;
    z-index: 100;
	width: 100%;
	left: 0;
	top: 0;
/*	background-color: grey;*/
/*	padding: 12px;*/
}

nav.main {
	padding: var(--margin);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav ul {
    display: block !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
	display: inline-block;
}


a {
    color: black;
    underline: none;
    text-decoration: none;
}

main {
	min-height: 100%;
/*	background-color: grey;*/
}

img {
	width: 100%;
}

section.full-height {
	height: calc(100vh);
}
section.full-width {
	padding: 0;
}

section{
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: calc(var(--margin) * 3);
	padding-bottom: calc(var(--margin) * 3);

    position: relative;
}

section.top-margin-large {
	margin-top: calc(var(--margin) * 4);
}	

.border-bottom{
	border-bottom: solid var(--border-width) var(--border-color);
}

.contain {
	object-fit: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.center-on-content {
	pointer-events: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.z-index-0 {
	z-index: 0;
}

.overlay-text {
	padding: var(--margin);
}

.col {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-between; /* Optional: Adds space between items */
    align-items: stretch; /* Ensures items stretch to match the container height */
    width: 100%;
    gap: var(--margin);
}

.col-2  > *{
    flex: 1; /* Do not grow, do not shrink, and take up 50% of the width */
}

.justify-bottom{
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
}

figure{
	margin: 0;
	width: 100%;
}

figure.img-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
figcaption {
	margin-top: 12px;
	font-size: 12px;
	color: darkgray;
}

figure.align-bottom {
	margin-top: auto;
}

figure.align-center {
	margin-bottom: auto;
	margin-top: auto;
}

figure.align-top {
	margin-bottom: auto;
}


.constrain-carousel-width {
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
}

.card-image {
	text-align: center;
}


/*****************/
/*  TYPOGRAPHY   */

h1:first-child,h2:first-child,h3:first-child, p:first-child {
	margin-top: 0;
}

h1:last-child,h2:last-child,h3:last-child, p:last-child {
	margin-bottom: 0;
}

p {

}

body {
	font-family: "Cardo";
	font-size: 18px;
}	

h1 {
	font-size: 36px;
}



/*****************/
/*  BREAKPOITNS  */

@media (max-width: 800px) {

	.hide-on-mobile {
		display: none !important;
	}

	.col-2 {
        display: flex;
        flex-direction: column;
	}
	.constrain-carousel-width {
		display: block;
		visibility: visible;
		width: auto;
		height: auto;
		position: relative;
	}
}

